---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

//Materialize Framework
@import '../bower_components/materialize/sass/materialize';

// Our variables
$banner-font-family: 'Permanent Marker', sans-serif;
$header-font-family: 'Catamaran', sans-serif;
$base-font-size:   16px;
$base-font-weight: 800;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$psb-red:			#fb3640;
$psb-grey: 			#363537;
$psb-yellow:      	#ffc60e;
$psb-white: 		#fefefe;


a{
    color: $psb-grey !important;

    &:visited{
        color: $psb-grey !important;
    }
}

.register-btn{
    border: 1px solid;
    border-radius: 5px;
    background: none;
    padding: 10px;

    &:hover{
        background-color: $psb-white;
        border-color: $psb-white;
    }
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: $header-font-family !important;
}

main {
  flex: 1 0 auto;
}

.color-red {
    color: $psb-red;
}

.color-grey {
    color: $psb-grey;
}

.color-yellow {
    color: $psb-yellow;
}

.color-white{
    color: $psb-white;
}

.hover-blue:hover{
    color: #0353A4;

    a .team-content span{
        color: #0353A4;
    }
}

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
@import "minima";

//Header and Footer Design

.nav-header, footer.page-footer {
	background-color: $psb-yellow;
	font-family: $header-font-family;
	text-transform: uppercase;
	font-weight: $base-font-weight;
}

.nav-header{
    a img{
        height: 120px;;
        padding-left: 50px;
    }
}

nav{
    height: 150px;
    line-height: 150px;
}
nav, footer {

	ul a{
		color: $psb-grey;
        font-size: 1.6rem;

        &:visited{
            color: $psb-grey;
        }
	}
	a{
		&:hover{
			text-decoration: none;
		}
}
} 

footer{
    .logo{
        height: 250px;
    }
}

.footer-text, nav .brand-logo {
	color: $psb-grey;
}

//Text

.justify{
    text-align: justify;
}

.sub-text{
    text-align: left;
    color: $psb-grey;
}

.terms-padding{
    padding-top: 25px;
    padding-left: 20px;
    padding-bottom: 0px;
}

//Banner

.banner {
	height: 100vh;
	width: 100%;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    margin-top: -56px;
    z-index: -1;
    // position: relative;


    .overlay{
        // position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.2;
    }
}

.slide-down{
    width: 100%;
    font-family: $banner-font-family;
    font-weight: 400;
    font-size: 68px;
    padding-right: 80px;
    line-height: 86px;
    color: $psb-white;
    strong{
        font-weight: 800;
        font-size: 100px;
    }
}

.slide-down-bottom{
    width: 100%;
    font-family: $banner-font-family;
    font-weight: 400;
    font-size: 68px;
    padding-right: 80px;
    line-height: 86px;
    color: $psb-white;
    padding-top: 30vh;
    text-align: center;
    strong{
        font-weight: 800;
        font-size: 80px;
    }
}

@media (max-width: 600px){

    .slide-down-bottom{
        font-size: 50px;
        text-align: center;
        margin: 0 auto;
        strong{
            font-size: 60px;
        }
    }

    h1{
        font-size: 45px;
    }
}
//Index 
.header{
    text-align: center;
    color: $psb-grey;
}


.combine-card{
    padding: 20px;

    .card-image .after{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        background: rgba(0, 0, 0, .3);
    }

}

.padding {
    padding: 20px;
}

.text-center{
    text-align: center;
}

.line-style{
    border-top: 3px solid $psb-yellow;
    border-bottom: 3px solid $psb-yellow;
    background-color: $psb-yellow;

}

.line-break {
    height: 7px;
    background-color: #ffc60e;
    margin-top: 40px;
    margin-bottom: 40px;
}

.team-image{
    margin-top: 20px;
    margin-bottom: 20px;
    a{
        text-decoration: none;
        text-align: center;
    }
}

.grow{
    transition: all .2s ease-in-out;
    &:hover, &:focus{
        transform: scale(1.1);
    }
}


.card .card-image{
    
    &:after{
        position: absolute;
        width: 100%; height:100%;
        top:0; left:0;
        background:rgba(0,0,0,0.6);
        opacity: 0.6;
    }

    .card-title {
        color: $psb-white;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 20px;
        text-transform: uppercase;
        font-weight: 600;
    }

}
//About PSB

#grid .profile{
    position: relative;
    background-size: cover;
}

.overlay{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-transform: uppercase;
    text-align: center;
    transition: opacity 250ms;
    white-space: nowrap;
    padding: 0px;
    .coach-title{
        display: none;
        font-size: 40px;
    }
    .coach-text{
        display: none;
        font-size: 20px;
    }
    .line-style{
        display: none;
    }
    &:hover, &:focus{
        background-color: rgba(0, 0, 0, 0.5);
        .coach-title, .coach-text, .line-style{
            display: block;
        }
    }
}


.no-margin{
    margin: 0px;
}

.wordwrap {
    white-space: pre-wrap;     /* CSS3 */       
    white-space: -moz-pre-wrap; /* Firefox */        
    white-space: -pre-wrap;     /* Opera <7 */       
    white-space: -o-pre-wrap;   /* Opera 7 */        
    word-wrap: break-word;      /* IE */ 
}

#grid {
    .col {
        padding: 0 0 0 0;
    }
}

.profile {
    height: 400px;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

//Registration 

.psb-form{
    margin-top: 20px;
    margin-bottom: 20px;

    input:not([type]),input[type=text], input[type=password],
    input[type=email], input[type=url], input[type=time],
    input[type=date], input[type=datetime], input[type=datetime-local],
    input[type=tel], input[type=number], input[type=search],
    textarea.materialize-textarea{
        border-bottom: $psb-yellow;
        border-bottom-style: solid;
        border-bottom-width: 2px;
    }

    .submit-btn{
        margin: 0 auto;
        margin-top: 20px;
        background-color: $psb-yellow;

    }

    input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]),
    input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]),
    input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), 
    input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), 
    input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), 
    input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), 
    textarea.materialize-textarea:focus:not([readonly]){
        border-bottom: 3px solid $psb-yellow;
        box-shadow: 0 1px 0 0 $psb-yellow;

        + label{
            color: $psb-grey;
        }
    }

    [type="checkbox"]:checked + label:before {
        border-top: 2px solid transparent;
        border-left: 2px solid transparent;
        border-right: 2px solid $psb-yellow;
        border-bottom: 2px solid $psb-yellow;
    }

    .dropdown-content li > a, .dropdown-content li > span, .picker__year-display {
        color: $psb-grey;
    }

    .dropdown-content li:hover, .dropdown-content li.active, .dropdown-content li.selected {
        background-color: $psb-yellow;
    }

    .picker__date-display, .picker__weekday-display {
        background-color: $psb-yellow;
        color: $psb-grey;
    }

    .picker__close, .picker__today, .picker__day.picker__day--today {
        color: $psb-yellow;
    }

}