---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

//Materialize Framework
@import '../bower_components/materialize/sass/materialize';

// Our variables
$banner-font-family: 'Permanent Marker', sans-serif;
$header-font-family: 'Catamaran', cursive;
$base-font-size:   16px;
$base-font-weight: 800;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$psb-red:			#fb3640;
$psb-grey: 			#363537;
$psb-yellow:      	#ffc60e;
$psb-white: 		#fefefe;


// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
@import "minima";

//Header and Footer Design

.nav-header, footer.page-footer {
	background-color: $psb-yellow;
	font-family: $header-font-family;
	text-transform: uppercase;
	font-weight: $base-font-weight;
}

nav, footer {

	ul a{
		color: $psb-grey;
	}
	a{
		&:hover{
			text-decoration: none;
		}
}
} 

.footer-text, nav .brand-logo {
	color: $psb-grey;
}

//Banner

.banner {
	height: 100vh;
	width: 100%;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    margin-top: -56px;
    z-index: -1;
}

.slide-down{
    width: 100%;
    font-family: $banner-font-family;
    font-weight: 400;
    font-size: 68px;
    padding-right: 80px;
    line-height: 86px;
    color: $psb-white;
    strong{
        font-weight: 800;
        font-size: 100px;
    }
}

