---
layout: default
permalink: /registration/
---

<div class="container">
	<div class="row">
		<div class="col s12">
			<div class="valign">
				<h1 class="header padding"> PSB REGISTRATION </h1>
				<p class="text justify flow-text"> {{site.data.registration.intro}} </p>
			</div>
			<div class="valign">
				<div class="row">
				    <form class="col s12 psb-form">
				      <div class="row">
				        <div class="input-field col s12 m6">
				          <input placeholder="John Doe" id="full_name" type="text" class="validate">
				          <label for="full_name">Full Name</label>
				        </div>
				        <div class="input-field col s12 m6">
				          <input placeholder="johndoe@email.com" id="email" type="email" class="validate">
				          <label for="email">Email</label>
				        </div>
				      </div>
				      <div class="row">
				        <div class="input-field col s12 m6">
				          <input placeholder="555-555-555" id="phone_number" type="tel" class="validate">
				          <label for="phone_number">Phone Number</label>
				        </div>
				        <div class="col s12 m6">
				          <label for="dob"> Date of Birth </label>
				          <input placeholder="01/01/1990" id="dob" type="date" class="datepicker">
				        </div>
				      </div>
				      <div class="row">
				        <div class="input-field col s6">
				        	<select>
				                <option value="" disabled selected>Choose</option>
				                {% for pos in site.data.registration.positions %}
				                	<option value="{{pos}}">{{pos}}</option>
				                {% endfor %}
				            </select>
				            <label>Primary Position</label>
				        </div>
				        <div class="input-field col s6">
				        	<select>
				                <option value="" disabled selected>Choose</option>
				                {% for pos in site.data.registration.positions %}
				                	<option value="{{pos}}">{{pos}}</option>
				                {% endfor %}
				            </select>
				            <label>Secondary Position</label>
				        </div>
				      </div>
				      <div class="row">
				        <div class="input-field col s12">
				          <input placeholder="Viking Warriors" id="previous-clubs" type="text" class="validate">
				          <label for="previous-clubs">Previous Clubs</label>
				        </div>
				      </div>
				      <div class="row">
				        <div class="input-field col s12 m6">
				          	<select>
				                  <option value="" disabled selected>Choose</option>
				                  {% for item in site.data.global.combines %}
				                  <option value="{{item.country}},{{item.date}}"> {{item.country}}, {{item.date}} </option>
				                  {% endfor %}
				            </select>
				          <label>COMBINE</label>
				        </div>
				        <div class="input-field col s12 m6">
				          <input placeholder="Country Name" id="country_name" type="text" class="validate">
				          <label for="country_name"> Passport Issuing Country </label>
				        </div>
				      </div>
				        <div class="col s12">
		        	      <input type="checkbox" id="box"/>
		        	      <label for="box">CHECK BOX IF YOU AGREE TO OUR <a target="_blank" href="/terms_conditions"> TERMS AND CONDITIONS </a> </label>
				        </div>
				        <div class="col s12 valign-wrapper">
					        <button class="btn waves-effect waves-light valign submit-btn" type="submit" name="action">Submit
					            <i class="material-icons right"></i>
					        </button>
				        </div>
				    </form>
				  </div>
			</div>
		</div>
	</div>
</div>