---
layout: default
banner: "/assets/images/banner-image.jpg"
banner-content: "ARE YOU <br/> <strong> READY? </strong>"
banner-class: slide-down
---

<div class="container">
  <div class="row">
    <div class="col s12">
        <div class="valign">
          <h2 class="header padding"> UPCOMING MEN'S COMBINES </h2>
        </div>
        {% for item in site.data.index.combines %}
        <div class="combine-card col s12 m4">
          <div class="card small hoverable">
            <div class="card-content">
              <span class="card-title {{item.color}} activator header color-dark"> {{item.title}} </span>
              <p class="color-grey"> {{item.date}} </p>
            </div>
            <div class="card-image waves-effect waves-block">
              <img class="activator" src="{{item.image-url}}">
            </div>
          </div>
        </div>
        {% endfor %}
    </div>
    <div class="line-padding">
      <hr class="big-line">
    </div>
    <div class="col s12">
      <div class="valign">
        <h2 class="header padding"> TEAMS WE'VE WORKED WITH </h2>
      </div>
      {% for item in site.data.index.teams %}
      <div class="team-image col s12 m4">
        <a href="{{item.url}}">
          <div>
            <img class="activator" src="{{item.image-url}}"> 
          </div>
          <div class="team-content">
            <p class="color-red text-center"> {{item.name}} </p>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
