---
layout: default
banner: "/assets/images/banner-image.jpg"
banner-content: "ARE YOU <strong> READY? </strong>"
banner-class: slide-down-bottom
---

<div class="container">
  <div class="row">
    {% include upcoming_combines.html %}
    <div class="col s12 line-break"></div>
    <div class="col s12">
      <div class="valign">
        <h2 class="header padding"> TEAMS WE'VE WORKED WITH </h2>
      </div>
      {% for item in site.data.index.teams %}
      <div class="team-image grow col s12 m4 hover-{{item.hover-color}}">
        <a target="_blank" href="{{item.url}}">
          <div>
            <img src="{{item.image-url}}"> 
          </div>
          <div class="team-content">
            <span class="color-red text-center"> {{item.name}} </span>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
