    </main>
    <footer class="page-footer nav-color">
        <div class="container">
            <div class="row">
                <div class="col s12 m6 l4 ">
                    <img class="logo" src="/assets/images/logo-v2.png">
                </div>
                <div class="col m6 l4 s12">
                    <h5 class="footer-text">Site Map</h5>
                    <ul>
                        {% for item in site.data.nav.main %}
                            <li><a class="footer-text text-lighten-3" href="{{item.url}}">{{item.text}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col s12 l4">
                    <p class="padding flow-text">
                        To contact us directly, you can send an email to <strong>info@psbcaribbean.com</strong>
                    </p>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container footer-text">
                © 2016 Copyright
                <a class="footer-text text-lighten-4 center" href="/privacy_disclaimer">Privacy | Disclaimer </a>
                <a class="footer-text text-lighten-4 right" target="_blank" href="http://www.karibfusion.com">Built By KaribFusion</a>
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/bower_components/materialize/dist/js/materialize.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
</body>
</html>