    </main>
    <footer class="page-footer nav-color">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="footer-text">Footer Content</h5>
                    <p class="footer-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                <h5 class="footer-text">Site Map</h5>
                    <ul>
                        {% for item in site.data.nav.main %}
                            <li><a class="footer-text text-lighten-3" href="{{item.url}}">{{item.text}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container footer-text">
                © 2016 Copyright Text
                <a class="footer-text text-lighten-4 right" href="#!">More Links</a>
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/bower_components/materialize/dist/js/materialize.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
</body>
</html>