<div class="col s12">
    <div class="valign">
      <h2 class="header padding"> UPCOMING COMBINES </h2>
    </div>
    {% for combine in site.data.global.combines %}
    <a href="#{{combine.code}}">  
      <div class="combine-card col s12 m4">
        <div class="card small hoverable">
          <div class="card-image">
            <img src="{{combine.image-url}}">
            <div class="after"></div>
            <span class="card-title {{combine.color}} header color-dark"> {{combine.country}} </span>
          </div>
          <div class="card-content">
            <p class="color-grey flow-text"> {{combine.date}} </p>
          </div>  
        </div>
      </div>
    </a>
    <div id="{{combine.code}}" class="modal modal-fixed-footer">
      <div class="modal-content">
        <h4>{{combine.country}}: {{combine.date}}</h4>
        {% for info in combine.information %}
          <h5>{{ info.title }}</h5>
          <ul>
            {% for item in info.items %}
              <li>{{item}}</li>
            {% endfor %}
          </ul>
        {% endfor %}
      </div>
      <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-yellow btn-flat">CLOSE</a>
        <a href="/registration?combine={{combine.code}}" class="btn-flat modal-action waves-yellow register-modal-btn">REGISTER NOW</a>
      </div>
     </div>
    {% endfor %}
</div>